body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #282c34;
    color: #e0e0e0;
    margin: 0;
}

.container {
    background-color: transparent;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    color: #e0e0e0;

    background-color:rgba(0, 0, 0, 0.6);
    padding: 15px 25px; 
    border-radius: 8px;
    margin-bottom: 30px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-style: sans-serif ;
}

.options {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.choice-btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: beige;
    color: #3c414c;
    transition: background-color 0.2s;
    min-width: 100px;
    font-style: comicsansms;
    f
}

.choice-btn:hover {
    background-color: #d4d4d4;
}

.result-area {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 28px;
}

#result-message {
    font-size: 30px;
    margin: 10px 0;
}

#play-again-btn {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: start;
}